/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #510583;
}

header {
    background-color: #333;
    color: #a917c6;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(171, 5, 218, 0.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

fade.show {
    opacity: 1;
}
.link-color{
    color:blueviolet
}


